[Desktop Entry]
Encoding=UTF-8
Name=CTLBrush
Name[es]=BrochaCTL
Name[et]=CTL pintsel
Name[hi]=सीटीएलब्रुश
Name[nds]=CTL-Pinsel
Name[sv]=CTL-pensel
Name[x-test]=xxCTLBrushxx
Comment=CTLBrush
Comment[es]=BrochaCTL
Comment[et]=CTL pintsel
Comment[gl]=Control do pincel
Comment[hi]=सीटीएलब्रुश
Comment[nds]=CTL-Pinsel
Comment[nl]=CTL-penseel
Comment[sv]=CTL-pensel
Comment[x-test]=xxCTLBrushxx
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritactlbrush
X-Krita-Version=3
