[Desktop Entry]
Encoding=UTF-8
Name=CTLBrush
Name[de]=CTLBrush
Name[el]=CTLBrush
Name[en_GB]=CTLBrush
Name[es]=BrochaCTL
Name[et]=CTL pintsel
Name[fr]=CTLBrush
Name[ga]=CTLBrush
Name[gl]=CTLBrush
Name[hi]=सीटीएलब्रुश
Name[hne]=सीटीएलब्रुस
Name[it]=CTLBrush
Name[km]=CTLBrush
Name[nds]=CTL-Pinsel
Name[nl]=CTLBrush
Name[pt]=CTLBrush
Name[sv]=CTL-pensel
Name[tr]=CTLBrush
Name[uk]=CTLBrush
Name[x-test]=xxCTLBrushxx
Comment=CTLBrush
Comment[de]=CTLBrush
Comment[el]=CTLBrush
Comment[en_GB]=CTLBrush
Comment[es]=BrochaCTL
Comment[et]=CTL pintsel
Comment[fr]=CTLBrush
Comment[ga]=CTLBrush
Comment[gl]=Control do pincel
Comment[hi]=सीटीएलब्रुश
Comment[hne]=सीटीएलब्रुस
Comment[it]=Pennello CTL
Comment[km]=CTLBrush
Comment[nds]=CTL-Pinsel
Comment[nl]=CTL-penseel
Comment[pt]=CTLBrush
Comment[sv]=CTL-pensel
Comment[tr]=CTLFırça
Comment[uk]=CTLBrush
Comment[x-test]=xxCTLBrushxx
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritactlbrush
X-Krita-Version=3
